[submodule "third_party/mega-sam"] # for depth and camera motion estimation [preprocessing]
	path = third_party/mega-sam
	url = git@github.com:PointsCoder/mega-sam.git
[submodule "third_party/Grounded-SAM-2"] # for object segmentation [reconstruction]
	path = third_party/Grounded-SAM-2
	url = git@github.com:PointsCoder/Grounded-SAM-2.git
[submodule "third_party/Hunyuan3D-2"] # for object mesh reconstruction [reconstruction]
	path = third_party/Hunyuan3D-2
	url = git@github.com:PointsCoder/Hunyuan3D-2.git
[submodule "third_party/FoundationPose"] # for object pose estimation [reconstruction]
	path = third_party/FoundationPose
	url = git@github.com:PointsCoder/FoundationPose.git
[submodule "third_party/ObjectClear"] # for object clearing [reconstruction]
	path = third_party/ObjectClear
	url = git@github.com:PointsCoder/ObjectClear.git
[submodule "third_party/PromptDA"] # for prompt-based data augmentation
	path = third_party/PromptDA
	url = git@github.com:dynamoduan/PromptDA.git
[submodule "third_party/graspness_unofficial"] # for grasp generation [motion]
	path = third_party/graspness_unofficial
	url = git@github.com:PointsCoder/graspness_unofficial.git
[submodule "third_party/graspnetAPI"] # for grasp evaluation and utilities [motion]
	path = third_party/graspnetAPI
	url = git@github.com:PointsCoder/graspnetAPI.git
[submodule "third_party/MinkowskiEngine"] # for sparse convolution operations [motion]
	path = third_party/MinkowskiEngine
	url = git@github.com:DynamoDuan/MinkowskiEngine.git
[submodule "third_party/WiLoR"] # for hand extraction [motion]
	path = third_party/WiLoR
	url = git@github.com:DynamoDuan/WiLoR.git
