version: "3.9"

services:
  # Real To Sim [Master Container]
  openreal2sim:
    build:
      context: ..
      dockerfile: Dockerfile
    image: openreal2sim:dev
    # container_name: openreal2sim
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    working_dir: /app
    volumes:
      - ../:/app
    stdin_open: true
    tty: true
    command: bash