version: "3.9"

services:
  # Real To Sim [Master Container]
  openreal2sim:
    build:
      context: ..
      dockerfile: Dockerfile
    image: openreal2sim:dev
    container_name: openreal2sim
    gpus: all
    working_dir: /app
    volumes:
      - ../:/app
    stdin_open: true
    tty: true
    command: bash
  # FoundationPose Container (via SSH + XQuartz for display)
  foundationpose_ssh:
    image: wenbowen123/foundationpose
    container_name: foundationpose
    gpus: all
    network_mode: host
    ipc: host
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    environment:
      - NVIDIA_DISABLE_REQUIRE=1
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/root/.Xauthority
      - QT_X11_NO_MITSHM=1
    volumes:
      - /home:/home
      - /mnt:/mnt
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /tmp:/tmp
      - ../outputs:/app/outputs
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/root/.Xauthority:ro
    working_dir: /home/ubuntu/repos/pi-I
    # FoundationPose Container (using local display)
  foundationpose_local:
    image: wenbowen123/foundationpose
    container_name: foundationpose
    gpus: all
    network_mode: host
    ipc: host
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    environment:
      - NVIDIA_DISABLE_REQUIRE=1
      - DISPLAY=${DISPLAY:-:0}
    volumes:
      - /home:/home
      - /mnt:/mnt
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /tmp:/tmp
      - ../outputs:/app/outputs
    working_dir: /home/ubuntu/repos/pi-I
