services:
  # Real To Sim [Master Container]
  openreal2sim:
    build:
      context: ..
      dockerfile: docker/real2sim/Dockerfile
    image: openreal2sim:dev
    # container_name: openreal2sim
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    environment:
      - HOME=/tmp
      - USER=dev
      - VSCODE_SERVER_DIR=/tmp/.vscode-server
      - NUMBA_CACHE_DIR=/tmp/numba_cache
    working_dir: /app
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - ${HOME}:${HOME}
      - ../:/app
      - ${HF_HOME:-~/.cache/huggingface}:/tmp/.cache/huggingface
      - ~/.cache/warp:/tmp/.cache/warp
      - ~/.cache/hy3dgen:/tmp/.cache/hy3dgen
      - ~/.cache/torch_extensions:/tmp/.cache/torch_extensions
      - ~/.cache/matplotlib:/tmp/.cache/matplotlib
    stdin_open: true
    user: "${HOST_UID}:${HOST_GID}"
    tty: true
    command: bash

  isaaclab:
    build:
      context: ..
      dockerfile: docker/isaaclab/Dockerfile
    image: isaaclab:dev
    user: "${HOST_UID}:${HOST_GID}"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    working_dir: /app
    volumes:
      - ../:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw # forward X11 socket
      - ${XAUTHORITY:-$HOME/.Xauthority}:/home/isaac/.Xauthority:ro # X auth cookie
      - /dev:/dev # add: expose input/gpu devices if needed
    environment:
      - DISPLAY=${DISPLAY} # add: pass host DISPLAY
      - XAUTHORITY=/home/isaac/.Xauthority # add: where the cookie is mounted in container
      - QT_X11_NO_MITSHM=1 # add: avoid MIT-SHM issues for GUI apps
      - NVIDIA_VISIBLE_DEVICES=all # add: be explicit
      - NVIDIA_DRIVER_CAPABILITIES=all # add: include graphics/display
      - OMNI_KIT_DISABLE_EXTS=isaacsim.ros2.bridge
      # (Optional Wayland; uncomment if you run Wayland)
      # - WAYLAND_DISPLAY=${WAYLAND_DISPLAY}
      # - XDG_RUNTIME_DIR=/run/user/${UID}
      # - XDG_SESSION_TYPE=wayland
    devices:
      - /dev/dri:/dev/dri # add: direct rendering device (helps GUI/GL)
    # ipc: host                          # add: larger /dev/shm helps Isaac
    shm_size: "16g" # add: extra SHM for stability
    stdin_open: true
    tty: true
    command: bash

    runtime: nvidia
    network_mode: "host"

  mujoco:
    build:
      context: ..
      dockerfile: docker/mujoco/Dockerfile
    image: mujoco:dev
    working_dir: /app
    volumes:
      - ../:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - MUJOCO_GL=glfw
    devices:
      - /dev/dri:/dev/dri
    shm_size: "2g"
    stdin_open: true
    tty: true
    command: bash
    network_mode: "host"
